<!doctype html public "✰">
<!--

::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::|::::::::::::::::::::::
:::::::::::::::::::::.\':':'/.::::::::::::::::::
::::::::::::::::::::::. .-. .:::::::::::::::::::
:::\\\///:::::::::-=== ((O)) ===-:::::::::::::::
:>>>oOoo<\\///::::::::' '-' ':::::::::::::::::::
:::///\\>>oOo<<<:::::'/.:.:.\'::::::::::::::::::
:::::||:///\\\\::::::::::|::::::::::::::::::::::
:::::||:::||::::::::::::::::::::::::::::::::::::
~~^~~||~^~||^~^^~^~^=^=^~=~=~^=^~^~^~^~^~^~^~^~^
~~^ ~|| ~~||  ~^~  ~^= =~^=~^~^= ~^~^~  ~^~^ ~^~
 ~^~ || ^ ||~^ ~^~~^~^==~^==~^~ = ~^=~ ~^  ~^~ ^
'.'. ||.'.||.' ..'..''.'.'.  '.'..'.'  .'''..'''
 jgs ||   || '.  '  O ~O/    '' .     ''   ` . `
 .  \||// || . ' . /|\/|  '   .  '  '.  ` .    .
' .  .  \\||//  '  /|  |\   `  .  .    .    ` `
     .  .  `  ' . / | / | .   .     `     .  ` .
 '.`     .' ' .   ` ` ` ` .  .  ' '  . '     ' '
 .   ` .    .`  .  ' .  '  .  '  .  '  .  '  . '

 -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=990">
  <!-- gh-pages likes to cache for 24h, let's disable that -->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="expires" content="Thu, 01 Jan 1970 13:37:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <link rel="shortcut icon" href="img/favicon.png" >

  <title><%= this.title %></title>
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic|Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" media="screen" href="/css/main.css?1357755096018" >
  <script src='/js/all.js'></script>
</head>
<body>
  <a href='#frame' id='rtt'>Return to Top</a>
  <div id="frame">
    <div id='shell-background'>
      <div id='content' class='clearfix'>
        <div id='left'>
          <div id='left-content'>
            <a href="/">
              <img src="/img/nav-logo.png" alt="JSConf US 2013, the best damn conference ever. period. believe it." height="141" width="161"/>
            </a>
            <hr/>
            <ul class='nav'>
              <!-- <li><a href="/schedule">Schedule</a></li> -->
              <li class='news' ><a href="/news">News</a></li>
              <li class='venue'><a href="/#venue">Venue</a></li>
              <li class='speakers'><a  href="/speakers">Speakers</a></li>
              <li class='trainers'><a  href="/trainers">Trainers</a></li>
              <li class='sponsors'><a href="/sponsors">Sponsors</a></li>
              <li class='about'><a href="/#about">About</a></li>

              <li><a href="https://ssl.omnihotels.com/Omni?Perseus_state=clear&lang_code=en-us&prop=AIPRST&group_code=052613JSCONFAIP&depart_date=6/1/2013&arrival_date=5/28/2013">Hotel Rooms</a></li>
              <li><a title="Tickets are sold out!" href="https://docs.google.com/spreadsheet/viewform?formkey=dElycTNXYmx5TzdwV3Q4alFZVjN2WWc6MQ" class='tickets'>Waiting List</a></li>
            </ul>
            <hr/>
            <div id='social' class='clearfix'>
              <a href="http://twitter.com/jsconf" id='twitter-button'>
                Twitter
              </a>
              <a href="https://www.facebook.com/groups/jsconf/" id='facebook-button'>
                Facebook
              </a>
              <a href="https://plus.google.com/communities/108690140179099971045" id='gplus-button'>
                Google Plus
              </a>
            </div>
            <hr/>
            <div id='countdown'>
              <div id='days'>
                <span></span> DAYS
              </div>
              <div id='daystep'>
                <span id='hours'></span>H
                <span id='minutes'></span>M
                <span id='seconds'></span>S
              </div>
            </div>
            <hr/>
            <div id='heaven'>
              <div id='weather'>
              </div>
              <div id='temperature'>
                <span id='high'>
                  H<span></span>&deg;
                </span>
                &nbsp;&nbsp;&nbsp;
                <span id='low'>
                  L<span></span>&deg;
                </span>
              </div>
              <div id='location'>
                Amelia <span>OMG WE ARE ON AN</span> Island, FL
              </div>
            </div>
          </div>
        </div>
        <div id='right'>
          <div id='header'>
            <a href="https://docs.google.com/spreadsheet/viewform?formkey=dElycTNXYmx5TzdwV3Q4alFZVjN2WWc6MQ" id='regnow'>
              Hope for a transfer, its your only hope.
            </a>
            <div id='twitter-pull'>
              <img src="/img/round-js.png" alt="JS"/>
              <div id='tweet'>
              </div>
            </div>
          </div>
          <div id='<%= this.id %>'>
          <%- page %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <a href="/"><img src="/img/footer-logo.png" alt="JSConf US 2013" height="82" width="96" /></a>
    </div>
    <div class='nav'>
      <a href="/" >Home</a>  |  
      <a href="/news">News</a>  |  
      <!-- <a href="/schedule">Schedule</a>  |   -->
      <a href="/#venue">Venue</a>  |  
      <a href="/speakers">Speakers</a>  |  
      <a href="/trainers">Trainers</a>  |  
      <a href="/#sponsors">Sponsors</a>  |  
      <a href="/#about">About</a>  |  
      <a title="Tickets are sold out!" href="https://docs.google.com/spreadsheet/viewform?formkey=dElycTNXYmx5TzdwV3Q4alFZVjN2WWc6MQ">Ticket Waiting List</a> |  
      <a href="https://ssl.omnihotels.com/Omni?Perseus_state=clear&lang_code=en-us&prop=AIPRST&group_code=052613JSCONFAIP&depart_date=6/1/2013&arrival_date=5/28/2013">Hotel Rooms</a>
    </div>

    <div class="columns">
      <div class="credits">
        <p class="copyright">Copyright &copy; Iterative Designs 2012 | Photos courtesy of <a href="http://benalman.com/">Ben Alman</a></p>
        <p class="authors">
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-1264213-15']);
    _gaq.push(['_setDomainName', 'jsconf.us']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    activateMenu('<%= this.id %>');
  </script>
</body>
</html>



<!--



               .andAHHAbnn.
           .aAHHHAAUUAAHHHAn.
          dHP^~"        "~^THb.
    .   .AHF                YHA.   .
    |  .AHHb.              .dHHA.  |
    |  HHAUAAHAbn      adAHAAUAHA  |
    I  HF~"_____        ____ ]HHH  I
   HHI HAPK""~^YUHb  dAHHHHHHHHHH IHH
   HHI HHHD> .andHH  HHUUP^~YHHHH IHH
   YUI ]HHP     "~Y  P~"     THH[ IUP
    "  `HK                   ]HH'  "
        THAn.  .d.aAAn.b.  .dHHP
        ]HHHHAAUP" ~~ "YUAAHHHH[
        `HHP^~"  .annn.  "~^YHH'
         YHb    ~" "" "~    dHF
          "YAb..abdHHbndbndAP"
           THHAAb.  .adAHHF
            "UHHHHHHHHHHU"
              ]HHUUHHHHHH[
            .adHHb "HHHHHbn.
     ..andAAHHHHHHb.AHHHHHHHAAbnn..
.ndAAHHHHHHUUHHHHHHHHHHUP^~"~^YUHHHAAbn.
  "~^YUHHP"   "~^YUHHUP"        "^YUP^"
       ""         "~~"

####################################################################################

Join us for the world's first RobotsConf - August 19 - 20, 2013
RobotsConf will be the first ever Software Developer's Hardware Conference!

http://www.robotsconf.com : Follow @robotsconf for details

Hand's on hardware hacking fused with some of the biggest, brightest thinkers
and tinkerers. All done in the elegant and epic JSConf style.

####################################################################################


 -->
