<!doctype html public "✰">
<html lang="en">
<!--

     ..............
     .            .
 O- -.  O      o  .- -O
     .            .
     .   /\/\/\   .
     ..............
		   II
 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- gh-pages likes to cache for 24h, let's disable that -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="Thu, 01 Jan 1970 13:37:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" href="/img/favicon.png" >

    <meta name="description" content="">

    <title>RobotsConf - {{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" media="screen" href="/css/carousel.css" >
    <link rel="stylesheet" media="screen" href="/css/main2.css" >

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src='/js/robotsconf.js'></script>
</head>
<!---
     ..............
[]- -.     ##     .- -[]
[]   .   ######   .   []
[]   .   ######   .   []
     .     ##     .
     ..............
-->
<body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/img/nav-logo-horz.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class='inactive'><a href='javascript:void(0);'>Dec 6-7</a></li>
                <li id='projectsMenu'><a href="/pages/projects.html">Projects</a></li>

                <li id='scheduleMenu'><a href="/pages/schedule.html">Schedule</a></li>
                <li id='speakersMenu'><a href="/pages/speakers.html">Speakers</a></li>
                <li id='venueMenu'><a href="/pages/venue.html">Venue</a></li>
                <li id='sponsorsMenu'><a href="/pages/sponsors.html">Sponsors</a></li>
                <!-- <li id='aboutMenu'><a href="/pages/about.html">About</a></li>            -->
              </ul>
                <ul class="nav navbar-nav navbar-right" >
                <li><a href="http://twitter.com/robotsconf" id='twitter-button'  rel="me"><i class='icon-twitter'></i></a></li>
              <li><a href="https://plus.google.com/communities/111003789351003878107" id='gplus-button' ><i class='icon-google-plus'></i></a></li>
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{content}}

    <div class="container">

        <footer>
            <a href="/"><img src="/img/footer-logo.png" alt="JSConf US 2013" height="82" width="96" /></a><br/><br/>

              <a href="/" >Home</a>  |
              <a title="Tickets" href="http://tickets.robotsconf.com">Tickets</a> |
              <a href="http://www.omnihotels.com/FindAHotel/AmeliaIsland/MeetingFacilities/RobotConference8.aspx">Hotel Rooms</a> |
              <a href="/pages/schedule.html">Schedule</a>  |
              <a href="/pages/venue.html">Venue</a>  |
              <a href="/pages/speakers.html">Speakers</a>  |
              <a href="/pages/sponsors.html">Sponsors</a>  |
              <a href="/pages/about.html">About</a> |
              <a href="https://plus.google.com/105500764340831514527" rel="publisher">Google+</a>
            <div class="credits">
                <p class="copyright"><br/>Copyright &copy; <script>document.write((new Date()).getFullYear());</script> Iterative Designs</p>
            </div>
        </footer>

    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1264213-25', 'robotsconf.com');
  ga('send', 'pageview');
  activateMenu('{{page.id}}Menu');
</script>
</body>
</html>



